/* small devices */

@media (min-width:768px){
	
}

/* hide cpt UI ads */
.wdspromos{
	display:none !important;
}

/*w
 *   Duplicate post CLEANUP
 */
#duplicate-post-notice{
	display:none !important;
}

/*
 *  hide gravity forms update nag
 */
#gf_dashboard_message{
	display:none !important;
}

/*
 *   CONNECTWISE INTEGRATION CLEANUP
 */

.forms_page_gf_settings #sidebar_section{
	display:none !important;
}

/*
 *   HIDE PLUGIN VERSIONS AND AUTHORS
 */
:not(.network-admin) .plugin-version-author-uri {
    display: none !important;
}

/* hide made with wordpress footer message */
#footer-thankyou{
	display:none !important;
}


/* hide heroic KB licence tab */
#hkb-settings-tabs > ul > li:nth-child(9){
	display:none !important;
}

/* hide insta post donation request */
.jr-container .jr-advanced-input:last-of-type {
    display: none !important;
}


/* hide svg support nag */
.wp-admin #wpfooter{
	display: none !important;
}

#emr-news{
  display:none !important;
}



/* 301 redirects */
.settings_page_301bulkoptions .notice, .simple_301_redirects .notice{
  display:none;
}

.wbcr-s301bu-notice-wrapper{
  display:none;
}


/* wp rocket */
.plugin-card-imagify{
  display:none !important;
}

